@font-face {
  font-family: "iconfont"; /* Project id 2587165 */
  src: url('iconfont.woff2?t=1622777562739') format('woff2'),
       url('iconfont.woff?t=1622777562739') format('woff'),
       url('iconfont.ttf?t=1622777562739') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqian:before {
  content: "\e686";
}

.icon-xianshi:before {
  content: "\e707";
}

.icon-youjian:before {
  content: "\e679";
}

.icon-tupian:before {
  content: "\e680";
}

.icon-ditu:before {
  content: "\e681";
}

.icon-QQ:before {
  content: "\e698";
}

.icon-weixin:before {
  content: "\e699";
}

.icon-weibo:before {
  content: "\e6a4";
}

.icon-gengduo:before {
  content: "\e6a7";
}

.icon-dingding:before {
  content: "\e721";
}

.icon-github:before {
  content: "\e722";
}

.icon-bangzhu:before {
  content: "\e725";
}

.icon-shoucang:before {
  content: "\e682";
}

.icon-aixin:before {
  content: "\e6ec";
}

.icon-lianjie1:before {
  content: "\e6ab";
}

.icon-liucheng:before {
  content: "\e772";
}

.icon-xingxing:before {
  content: "\e638";
}

.icon-shouyexuanzhong:before {
  content: "\e61f";
}

.icon-zhuti:before {
  content: "\e6c2";
}

