@font-face {
  font-family: "iconfont"; /* Project id 2587165 */
  src: url('iconfont.woff2?t=1622723134535') format('woff2'),
       url('iconfont.woff?t=1622723134535') format('woff'),
       url('iconfont.ttf?t=1622723134535') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e682";
}

.icon-bangbangtang:before {
  content: "\e6eb";
}

.icon-aixin:before {
  content: "\e6ec";
}

.icon-chabei:before {
  content: "\e6ee";
}

.icon-dushu:before {
  content: "\e6f2";
}

.icon-huiyuan:before {
  content: "\e6f4";
}

.icon-lianjie1:before {
  content: "\e6ab";
}

.icon-liucheng:before {
  content: "\e772";
}

.icon-xingxing:before {
  content: "\e638";
}

.icon-shouyexuanzhong:before {
  content: "\e61f";
}

.icon-zhuti:before {
  content: "\e6c2";
}

