/* el-card */
.el-card{
  -webkit-box-shadow: 0 0 4px rgb(26 26 26 / 5%) !important;
  box-shadow: 0 0 4px rgb(26 26 26 / 5%) !important;
  border:none;
  border-radius: 0;
}
.el-card__body{
  padding:15px !important;
}
.el-card__header{
  padding:10px 15px !important;
}
.radius{
  box-shadow: 0 0 3px #333;
}
.shadow{
  box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
}
.el-popover .el-popconfirm__action .el-button{
  height:20px;
  line-height: 20px;
  padding:0px 5px;
  font-size: 12px;
  font-weight: normal;
}
.el-popover .el-popconfirm__main{
  font-size: 12px;
  margin-bottom:5px;
}


